## ignore python compiled files

__pycache__
*.pyc

*.pt

*.json

model/__pycache__
model/*.pyc

model/dataset/__pycache__
model/dataset/*.pyc

model/models/__pycache__
model/models/*.pyc

model/modules/__pycache__
model/modules/*.pyc

model/trainers/__pycache__
model/trainers/*.pyc

model/utils/__pycache__
model/utils/*.pyc

data/datasets/
data/datasets.tar.gz

save/*.pt
save/argoverse/*

# Results file to submit to the Leaderboard

results/**/*.h5
evaluate/**/*.h5 

# Qualitative resuts for each model

results/**/*.png
